* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Kdam Thmor Pro', sans-serif;
	font-size: 24px;
}

body {
	background: linear-gradient(to top, black,rgb(20, 20, 20));
}

main {
	width: 70%;
	height: 100vh;
	margin: 0 auto;
	display: flex;
	justify-content: flex-end;
	padding-right: 10%;
	background-image: url(../assets/pat-taylor-background.jpeg);
	background-size: cover;
	background-position: bottom;
}

.clock-container {
	margin-top: 10%;
	width: 350px;
	height: 100px;
	background: black;
	padding: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 3px solid rgb(106, 46, 3);
	box-shadow: 1px 2px 10px rgb(137, 49, 49);
	backdrop-filter: blur(10px);
	font-size: 2.5rem;
}

.clock {
	width: 100%;
	display: flex;
	align-items: center;
	color: rgb(255, 255, 255);
}

.digits {
	width: 100%;
}

.credit {
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 0.5rem;
	color: lightgrey;
	font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 500px) {
	main {
		width: 95%;		
		padding-right: 0;		
	}
	
	.clock-container {
	margin: 10% auto;
	}
}